:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

body {
  margin: 0;
  background: #0a0a0f;
}